<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="d-flex justify-content--space-between gap--15 flex-wrap--wrap">
        <div class="mb-30">
          <div class="single-cta">
            <mat-icon fontIcon="location_on"></mat-icon>
            <div class="cta-text">
              <h4>Locație</h4>
              <a href="https://maps.app.goo.gl/5xSLhH8mRdKEPhk18">Strada Constantin Brâncoveanu 65A, Târgoviște</a>
            </div>
          </div>
        </div>
        <div class="mb-30">
          <div class="single-cta">
            <mat-icon fontIcon="phone"></mat-icon>
            <div class="cta-text">
              <h4>Telefon</h4>
              <span>+40 0345 407 818</span>
            </div>
          </div>
        </div>
        <div class="mb-30">
          <div class="single-cta">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
            <div class="cta-text">
              <h4>Email</h4>
              <span>contact&#64;efraim.ro</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html">
                <svg-icon src="/assets/images/logo-horiz-text.svg" class="logo-icon"></svg-icon>
              </a>
            </div>
            <div class="footer-text">
              <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                elit,Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="footer-social-icon">
              <span>Vă invităm să ne urmăriți:</span>
              <social-media-links />
              <br>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Link-uri folositoare</h3>
            </div>
            <ul>
              <li><a href="#">Acasă</a></li>
              <li><a href="#">Donează</a></li>
              <li><a href="#">Contactează</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Abonează-te</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Vă rugăm să nu uitați să vă abonați pentru a primi ultimele noastre informații și actualizări. Introduceți adresa de e-mail în câmpul de mai jos.</p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address">
                <button>
                  <mat-icon fontIcon="send"></mat-icon>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>Copyright &copy; 2024 <a href="https://efraim.ro">Biserica Efraim</a>, Toate drepturile rezervate.</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li><a href="#">Acasă</a></li>
              <li><a href="#">Donează</a></li>
              <li><a href="#">Contactează</a></li>
              <li><a href="#">Termeni</a></li>
              <li><a href="#">Confidențialitate</a></li>
              <li><a href="#">Politică</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>