<div class="spartan-font">
    <section class="video-section" id="section_1">
<!--        <div class="section-overlay"></div>-->

      <div class="video-wrap">
        <video autoplay muted loop id="myVideo" oncanplay="play()" onloadedmetadata="muted = true"
               class="custom-video">
          <source src="/assets/video/intro_video.mp4" type="video/mp4">
        </video>
      </div>

      <div class="video-interface d-flex justify-content-center">
          <div class="container row margin-bottom--30">
            <div class="mt-auto d-flex flex-direction--column justify-content--center align-items--center gap--10">
              <div class="date-wrap">
                <h2 class="text-white text-center">
                  <i class="custom-icon bi-clock"></i>
                  Duminică, orele <span class="badge">9 - 10:30</span>sau<span class="badge">11 - 12:30</span>
                </h2>
              </div>

              <div class="location-wrap">
                <h2 class="text-white text-center">
                  <i class="custom-icon bi-geo-alt me-2"></i>
                  Locație:
                  <a href="https://maps.app.goo.gl/5xSLhH8mRdKEPhk18" target="_blank">Constantin Brancoveanu 65A, Targoviste</a>
                </h2>
              </div>

              <social-media-links />
            </div>
          </div>
      </div>
    </section>

    <section class="padding--15">
      <div class="container">
        <div class="presentation-video row">
          <iframe
            src="https://www.youtube.com/embed/U8qhXbZoOxE?autoplay=1&version=3&loop=1&playlist=U8qhXbZoOxE"
            loop
          >
          </iframe>
        </div>
      </div>
    </section>
</div>