<div class="d-flex gap--10">
  <a class="social-link" href="https://www.facebook.com/bisericaefraim" target="_blank">
    <mat-icon fontIcon="facebook" />
  </a>
  <a class="social-link" href="https://www.tiktok.com/@bisericaefraim" target="_blank">
    <mat-icon fontIcon="tiktok" />
  </a>
  <a class="social-link" href="https://www.instagram.com/bisericaefraim" target="_blank">
    <mat-icon class="bi-instagram" />
  </a>
  <a class="social-link" href="https://www.youtube.com/bisericaefraim" target="_blank">
    <mat-icon class="bi-youtube" />
  </a>
</div>

