<nav class="navbar navbar-expand-lg width--full" #navbar>
  <div class="container position--relative height--full gap--10">
    <div class="d-flex gap--10 height--full">
      <a routerLink="/" class="d-lg-block height--full" style="aspect-ratio: 1/1">
        <svg-icon src="/assets/images/logo.svg" class="logo-icon"></svg-icon>
      </a>

      <a routerLink="/" class="btn live-button">
        Efraim Live
      </a>
    </div>

    <div class="collapse navbar-collapse justify-content--flex-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [class.is-active]="isHome()" class="nav-link click-scroll" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
            <a [routerLinkActive]="['is-active']" class="nav-link click-scroll" [routerLink]="['/evenimente']">Evenimente</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['is-active']" class="nav-link click-scroll" [routerLink]="['/doneaza']">Doneaza</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['is-active']" class="nav-link click-scroll" [routerLink]="['/contact']">Contact</a>
        </li>
        <!-- <li class="nav-item">
            <a (click)="selectPage(5)" [routerLinkActive]="['is-active']" class="nav-link" [ngClass]="{'is-active': menu == 5}">Resurse</a>
        </li> -->
      </ul>
    </div>

    <button class="btn-menu top-nav-btn-menu" type="button" (click)="opened=!opened; addTransition()">
      <mat-icon>menu</mat-icon>
    </button>


    <mat-sidenav class="side-nav-top left-navbar" id="sidebar-t" [(opened)]="opened" style="color: white;">
      <button class="d-block menu-btn-close" type="button" (click)="opened=!opened; addTransition()">
        <mat-icon>close</mat-icon>
      </button>

      <!-- <img style="height: 50px;" class="margin-bottom--20" src="/assets/images/logo_new_Efraim.png" alt="Error"> -->
      <a class="nav-link click-scroll margin-bottom--10 font-size--25" [class.is-active]="isHome()"
         [routerLink]="['/']" (click)="opened=!opened; addTransition()">Home</a>
      <a class="nav-link click-scroll margin-bottom--10 font-size--25" [routerLink]="['/evenimente']"
         [routerLinkActive]="['is-active']" (click)="opened=!opened; addTransition()">Evenimente</a>
      <a class="nav-link click-scroll margin-bottom--10 font-size--25" [routerLink]="['/doneaza']"
         [routerLinkActive]="['is-active']" (click)="opened=!opened; addTransition()">Doneaza</a>
      <a class="nav-link click-scroll margin-bottom--10 font-size--25" [routerLink]="['/contact']"
         [routerLinkActive]="['is-active']" (click)="opened=!opened; addTransition()">Contact</a>
      <!-- <a class="nav-link click-scroll margin-bottom--10 font-size--25" [routerLink]="['/resurse']"
          [routerLinkActive]="['is-active']" (click)="opened=!opened; addTransition()">Resurse</a> -->
    </mat-sidenav>
  </div>
</nav>